---
import ImageComp from "./ImageComp.astro";
---

<div class="relative isolate overflow-hidden pt-14">
  <ImageComp
    imagePath="/src/assets/chris-leipelt-6w_dYdazo20-unsplash.jpg"
    imageAlt="adsf"
    styles="absolute inset-0 -z-10 size-full object-cover object-left-top"
  />
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-28">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div
          class="relative rounded-full px-3 py-1 text-sm/6 text-white ring-1 ring-yellow-500 hover:ring-blue-200/90 duration-150"
        >
          Private Charter Services. <a
            href="#charter"
            class="font-semibold text-gray-200/70"
            ><span class="absolute inset-0" aria-hidden="true"></span>Read more <span
              aria-hidden="true">&rarr;</span
            ></a
          >
        </div>
      </div>
      <div class="text-center">
        <h1
          class="text-balance text-5xl lg:text-7xl lg:leading-[3.3rem] font-bold tracking-tight text-gray-200"
        >
          Aircraft Management
        </h1>
        <p class="mt-8 text-pretty text-lg font-light text-yellow-50">
          We acknowledge that aircraft ownership entails significant financial
          commitments and responsibilities. Our services assist you in
          determining whether it aligns with your personal or business
          objectives. When you select PennJet for aircraft acquisition or
          management, you gain access to comprehensive safety, service, and
          support. Our unwavering commitment ensures that you fully realize the
          benefits of your investment. Experience personalized aircraft
          management with PennJet.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="#"
            class="rounded-md bg-yellow-500 duration-200 px-3.5 py-2.5 text-sm font-semibold text-blue-950 shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400"
            >Get started</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="absolute inset-0 -z-10 bg-gradient-to-b from-black/20 via-black/50 to-black/40"
    aria-hidden="true"
  >
  </div>
</div>
