---
import ImageComp from "./ImageComp.astro";

const { data } = Astro.props;
---

<div class="relative isolate overflow-hidden pt-14">
  <ImageComp
    imagePath="/src/assets/penn-jet-header-mirror.webp"
    imageAlt="adsf"
    styles="absolute inset-0 -z-10 size-full object-cover object-right lg:object-center animate-slow-zoom"
  />
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto lg:mx-0 max-w-2xl py-28">
      <div class="mb-8 flex justify-center lg:justify-start">
        <div
          class="relative rounded-full px-3 py-1 text-sm/6 text-blue-950 ring-1 bg-yellow-100/10 ring-slate-700 hover:ring-blue-500/90 duration-150 animate-fade-from-top"
        >
          Private Charter Services. <a
            href="#charter"
            class="font-semibold text-slate-800/70"
            ><span class="absolute inset-0" aria-hidden="true"></span>Read more <span
              aria-hidden="true">&rarr;</span
            ></a
          >
        </div>
      </div>
      <div class="text-center lg:text-left">
        <h1
          class="text-balance text-5xl lg:text-7xl lg:leading-[3.5rem] font-bold tracking-tight text-yellow-500 animate-fade-from-right"
        >
          {data.heading}
        </h1>
        <p
          class="mt-8 text-pretty text-lg font-light text-blue-50 animate-fade-from-bottom"
        >
          {data.description}
        </p>
        <div
          class="mt-10 flex items-center justify-center lg:justify-start gap-x-6 animate-fade-in"
        >
          <a
            href="#contact-us"
            class="rounded-md bg-yellow-500 duration-200 px-3.5 py-2.5 text-sm font-semibold text-blue-950 shadow-sm hover:bg-blue-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400"
            >Get More Info</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="absolute inset-0 -z-10 bg-gradient-to-b from-amber-400/5 via-30% via-yellow-800/20 to-slate-950"
    aria-hidden="true"
  >
  </div>
</div>
